[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
bootstrap-flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
watchdog = "*"
python-magic = "*"
pathvalidate = "*"
sqlalchemy = "==1.3"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.8"
