{% extends "include/base.html" %}
{% from "include/macro.html" import render_bar with context %}

{% block pre_container %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">yamt</h1>
        <div class="row">
            <div class="col-sm-12 mb-3">
                <div class="card shadow">
                    <div class="card-body">
                        {% if worker.state_flag.value %}
                            {% if worker.state_flag.value == 2 %}
                                <h5 class="card-title">Current task:</h5>
                                {{ render_bar(worker.state["percent"]) }}
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Input:</th>
                                                <th>Output:</th>
                                                <th>Time remaining:</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-monospace" scope="row">{{ worker.settings.input.resolve() }}</td>
                                                <td class="text-monospace">{{ worker.settings.output.resolve() }}</td>
                                                {% if not worker.state["estimated"] %}
                                                    <td class="text-monospace">Waiting for status...</td>
                                                {% else %}
                                                    <td class="text-monospace">{{ worker.state["estimated"] }}</td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <h5 class="card-title mb-0">No task is running right now.</h5>
                            {% endif %}
                        {% else %}
                            <h5 class="card-title mb-0">Worker is dead.</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="collapse show" id="collapsable">
        <div class="row">
            {% for item in worker_queue %}
            <div class="col-sm-6 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Task {{loop.index}}:</h5>
                        <table class="table mb-0 table-responsive">
                            <thead>
                                <tr>
                                    <th>Input:</th>
                                    <th>Output:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-monospace" scope="row">{{ item.input }}</td>
                                    <td class="text-monospace">{{ item.output }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <p>Worker:<span class="text-monospace"> {{ worker.state_flag }}</span></p>
                        <p>Watcher:<span class="text-monospace"> {{ watcher.state_flag }}</span></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h6 class="card-title pr-5">CPU usage: {{ ", ".join(info["cpu_avg"]) }}</h6>
                        {% for usage in info["cpu_usage"] %}
                            <div class="py-2">{{ render_bar(usage) }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if worker_queue%}
    <a class="btn btn-primary mb-3" data-toggle="collapse" href="#collapsable" role="button" aria-expanded="false" aria-controls="collapsable">Show pending tasks</a>
    {% endif %}
{% endblock %}