{% extends "include/base.html" %}
{% from "bootstrap/form.html" import render_form_row with context%}

{% block content %}
    <h1 class="mt-5">Create filesystem watcher!</h1>
    <form method="POST">
        {{ render_form_row([form.preset_name, form.name]) }}
        {{ render_form_row([form.input_path, form.output_path]) }}
        <input type="submit" class="btn btn-info" value="Create">
    </form>
    <p>
        {% if watchers %}
            <div class="table-responsive">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th scope="col">Name:</th>
                            <th scope="col">Preset:</th>
                            <th scope="col">Input path:</th>
                            <th scope="col">Output path:</th>
                            <th scope="col">Running?</th>
                            <th scope="col" style="width:1%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for id, values in watchers.items() %}
                            <tr class="text-monospace" id="{{ id }}">
                                <td scope="row">{{ values[0] }} </td>
                                <td>{{ values[1] }}</td>
                                <td>{{ values[2] }}</td>
                                <td>{{ values[3] }}</td>
                                {% if values[4] %}
                                    <td><input type="checkbox" class="running" value="{{ id }}" checked><span class="text-success"> Yes!</span></td>
                                {% else %}
                                    <td><input type="checkbox" class="running" value="{{ id }}"><span class="text-danger"> No!</span></td>
                                {% endif %}
                                <td><button type="button" class="btn btn-outline-danger btn-sm delete">Delete</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </p>
{% endblock %}

{% block scripts %}
<script async src="{{ url_for('static', filename='view_add_watcher.js') }}"></script>
{% endblock %}