{% macro render_state(state) %}
    <div class="progress">    
        <div class="progress-bar" role="progressbar" style="width: {{ state[0] }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ state[0] }}%</div>
    </div>
{% endmacro %}

{# yeah i know, thats very dirty #}

{% macro _hz_form_wrap(horizontal_columns, form_type, add_group=False, required=False) %}
    {% if form_type == "horizontal" %}
        {% if add_group %}
            <div class="form-group row{% if required %} required{% endif %}">{% endif %}
        <div class="offset-{{ horizontal_columns[0] }}-{{ horizontal_columns[1] }}
              col-{{ horizontal_columns[0] }}-{{ horizontal_columns[2] }}">
    {% endif %}
{{ caller() }}

{% if form_type == "horizontal" %}
    {% if add_group %}</div>{% endif %}
    </div>
{% endif %}
{% endmacro %}

{% macro render_checkbox(field) %}
    {% if field.flags.required and not required in kwargs %}
        {% set kwargs = dict(required=True, **kwargs) %}
    {% endif %}
    {% call _hz_form_wrap(('lg', 2, 10), 'basic', True, required=required) %}
        {# i copied whole thing here just to delete form-group :) #}
        <div class="form-check{% if form_type == "inline" %} form-check-inline{% endif %}">
            {%- if field.errors %}
                {{ field(class_="form-check-input is-invalid%s" % extra_classes)|safe }}
            {%- else -%}
                {{ field(class_="form-check-input%s" % extra_classes)|safe }}
            {%- endif %}
            {{ field.label(class="form-check-label", for=field.id)|safe }}
            {%- if field.errors %}
                {%- for error in field.errors %}
                    <div class="invalid-feedback" style="display: block;">{{ error }}</div>
                {%- endfor %}
            {%- elif field.description -%}
                {% call _hz_form_wrap(horizontal_columns, form_type, required=required) %}
                    <small class="form-text text-muted">{{ field.description|safe }}</small>
                {% endcall %}
            {%- endif %}
        </div>
    {% endcall %}

{% endmacro %}

{% macro render_time_left(state) %}
        {{ state }}
{% endmacro %}

